
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 footer_widget">
                    <div class="inner">
                        <h4>Want to hear more from me? Say thanks? Or have a discussion?</h4>
                        <p>Become a Patron and you'll get access to my posts in progress, polls, thoughts and other things I want to share.  A monthly happy hour with me and access to my PDI.</p>
                        <a class="nav-link" href="https://www.patreon.com/bePatron?u=23597006"><img src="/assets/img/patron.png" alt="Become a Patron!" style="height:50px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-txt">
                        Jace Benson © 2021 · <a href="https://news.jace.pro/feed.xml">RSS <i class="fa fa-rss" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/jacebenson" class="fa fa-twitter"></a>
                                <a href="https://github.com/jacebenson" class="fa fa-github"></a>
                                <a href="https://linkedin.com/in/jacebenson" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>