---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "news.jace.pro",
    "subtitle": "A aggregate of the ServiceNow News",
    "url": "https://news.jace.pro/",
    "feedUrl": "https://news.jace.pro/feed.xml",
    "author": {
      "name": "Jace Benson",
      "email": "jace.benson@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in rawfeeds %}
  {% set absolutePostUrl %}{{ post.link | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.title }}</content>
  </entry>
  {%- endfor %}

</feed>